<nav>
    @if (accountService.currentUser()) {
        <ul>
            <li><a routerLink="/addticket">Add New Ticket</a></li>
            <li><a routerLink="/listtickets">List Tickets</a></li>
            <li><a (click)="accountService.logout()">Logout</a></li>
        </ul>
    }
    @if (!accountService.currentUser()) {
        <ul>
            <li>
                <form (ngSubmit)="login()" #loginForm="ngForm" class="p-3 d-flex flex-column gap-2" style="width: 220px;">
                    <div class="mb-2">
                        <input type="text" class="form-control form-control-sm" name="email" [(ngModel)]="loginModel.email" placeholder="Email" required>
                    </div>
                    <div class="mb-2">
                        <input type="password" class="form-control form-control-sm" name="password" [(ngModel)]="loginModel.password" placeholder="Password" required>
                    </div>
                    <button type="submit" class="btn btn-primary btn-sm w-100">Login</button>
                </form>
            </li>
        </ul>
    }
</nav>